
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap');
*{margin: 0;padding: 0;box-sizing: border-box;list-style: none;outline: none; font-family: 'Josefin Sans', sans-serif;}
html {
    font-size: 62.5%; /* font-size 1rem = 10px on default browser settings */
  }

.main_div{
    background-color: #34495E ;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.scroller {
    width: 300px;
    height: 100px;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
  }
.center_div{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 80vh;
    width: 25%;
    /* border: 2px solid black; */
    border-radius: 10px ;
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
}
h1{
    padding: 0.5rem 0;
    /* background-color:#A569BD; */
    color: black;
    font-size: 3rem;
    margin-top: 2rem;
}
.do{
    color: #e33e5a;
}
input{
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
    width: 70%;
    border-color: #A569BD;
    font-size: 2rem;
}
button{
    outline: none;
    border: none;
    background-color: #A569BD;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 3rem;
    padding: 0.2rem 0.9rem;
    border-radius: 50%;
}
button:hover{
    background-color:#239B56  ;
}

ol li{
    color: #A569BD;
    font-size: 2rem;
}
.listItems{
    display: flex;
    padding: 10px  20px;
    align-items: center;
}
.listItems i{
    color: #A569BD;
    font-size: 2.5rem;
    margin-right: 10px;
}
.listItems i:hover{
    color: crimson;
}